h1 {
    color: rgb(0, 45, 128);
    text-align: center;
}

#container {
    margin: auto;
    width:35rem;
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    border: 1px solid black;

   
}

button {
    margin: auto;
}

body {
    text-align: center;
    background-color: #ECF4F1;
}

.square {
    width: 50%;
    height: 50%;
    background-color: aqua;
    box-sizing: border-box;
    border: 1px solid black;
   
}